Run this in Supabase SQL Editor to create the trigger that inserts new users:

-- Create the function to handle new user
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger AS \$\$
BEGIN
  INSERT INTO public.users (user_id, nickname)
  VALUES (new.id, split_part(new.email, '@', 1));
  RETURN new;
END;
\$\$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the trigger
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Re-enable RLS if you disabled it
ALTER TABLE users ENABLE ROW LEVEL SECURITY;
